/*
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

ul {
  padding-left: 0px;
  list-style: none;
}

.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}

.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
.circle-green {
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	/* width and height can be anything, as long as they're equal */
}
.panel-body {
    background-color: rgba(95, 216, 139, 0.14);
};
.glyphicon.glyphicon-ok {
  color: green; 
}
.glyphicon.glyphicon-remove {
   color: red;
}
.navbar.navbar-inverse {
  background-image: url(/assets/back.jpg);
}
.html {
  background-image: url(/assets/back.jpg);
}
.button {
    background-color: rgba(76, 175, 80, 0.17);
    width: 225px;
    height: 26px;
}
.btn-success {
margin-top: 15px;
}

